/* Magnetik Font Family */
@font-face {
  font-family: 'Magnetik';
  src: url('./Magnetik-Medium.woff2') format('woff2'),
       url('./Magnetik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Magnetik';
  src: url('./Magnetik-Bold.woff2') format('woff2'),
       url('./Magnetik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}